*{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1{
    text-transform: uppercase;
}
body{
    background-color: #CBCDCB;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: #C44B4F;
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: center;
    overflow: hidden;
}

header li{
    text-transform: uppercase;
    display: inline-block;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

header li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 5px 40px 10px;
    text-decoration: none;
}

header li a:hover{
    background-color: #CBCDCB;
}

.container{
    padding-top: 50px;
    display: grid;
    height: 100%;
    grid-gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto auto auto;
    overflow-x: hidden;
}

#profileHome{
    background-color: #607D86;
    grid-column: 1/5;
    display: flex;
    padding: 10px;
    overflow: hidden;
}

#profileHome p{
    display: table-cell;
    font-size: x-large;
    text-align: justify;
    vertical-align: middle;
    line-height: 2;
}

#Introduction{
    display: table;
}

#Introduction p{
    color: #fff;
}

#profileHome img{
    max-height: 750px;
    padding-right: 20px;
    border-radius: 60px;
}

#educItem h1{
    background-color: #4C5355;
    padding-top: 10px;
    padding-bottom: 20px;
    grid-column: 1/5;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-align: center;
    color: #fff;
}

#educItem h5{
    padding-bottom: 5px;
}

#educItem{
    color: #fff;
    background-color: #4C5355;
    grid-column: 1/5;
    grid-row: 2;
    padding-left: 20px;
    padding-bottom: 10px;
}

#educItem a{
    text-decoration: none;
    color: #fff;
}

#educItem a:hover{
    text-decoration: underline;
}

#WorksHDR h1{
    color: #fff;
    background-color: #607D86;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    padding-bottom: 10px;
}

.WorksContainer{
    background-color: #607D86;
    grid-column: 1/5;
    grid-row: 3;
    padding-bottom: 30px;
}

.worksSubcontainer{
    padding: 30px 10px;
    background-color: #607D86;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 400px));
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: space-evenly;
}

.workItem{
    border-radius: 10px;
    margin: 0px 10px;
    text-align: center;
    width: 300px;
    overflow: hidden;
    background-color: #4C5355;
    padding-bottom: 15px;
    justify-self: center;
}

.workItem img{
    height: 300px;
}

.workItem p{
    font-family: 'Courier New', Courier, monospace;
}

.workItem a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

#contactDeet{
    background-color: #f5f5f5;
    grid-column: 1/5;
    grid-row: 4;
    overflow: hidden;
    text-align: center;
}

#contactDeet h1{
padding-top: 30px;
text-decoration: underline;
text-underline-offset: 10px;
padding-bottom: 20px;
}

#contactDeet img{
    padding-top: 25px;
    height: 160px;
}

    @media only screen and (max-width: 1070px) {
        #profileHome img{
            width: 400px;
            align-self: center;
        }
        #profileHome{
            flex-direction: column;
        }

    }

    @media only screen and (max-width: 435px) {
        #profileHome img{
            width: 300px;
            align-self: center;
        }
    }
    
